/* buttons */
.btn-style3 {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 10px 5px;
    border: none;
    text-wrap: nowrap;
    font-size: small;
    font-weight: 400;
}
.btn4 {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.btn5 {
    background-color: rgb(235, 235, 235);
    color: var(--color-primary);  /*rgb(62, 62, 62);*/
}
.round-color {
    display: block;
    margin-right: 1rem;
    width: 1rem;
    aspect-ratio: 1;
    border: 2px solid rgb(142, 142, 142);
    border-radius: 50%;
}
.color-diamond {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}


/* links */
.atag {
    color: var(--color-primary);
    text-decoration: underline;
    font-size: medium;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .atag {
        font-size: small;
    }
    .btn-style3 {
        font-size: x-small;
    }
}