/* header */
.google-yelp-sprite {
    background: url(../assets/google-yelp-sprite.webp);
    background-repeat: no-repeat;
    display: block;
}
.rating {
    width: 70px;
    height: 13px;
    background-size: 297%;
    background-position: 5% 50%;
}
.header-sprite {
    background-image: url(../assets/header-small-icons.webp);
    display: block;
    width: 20px;
    height: 20px;
    background-size: 914%;
}
.insta-h { background-size: 1000%; background-position: 36% 86%;} .ver-h { background-position: 12% 49%;}
.cal-h { background-position: 35% 51%;} .loc-h { background-position: 11% 86%;}
.prof-h { background-position: 67% 85%;} .heart-h { background-position: 65% 13%;}
.cart-h { background-position: 93% 13%;} .search-h { background-position: 66% 49%;}

.icon-forward, .icon-backward, .icon-forward-down, .arrow-icons {
    background: url(../assets/home-icons-sprite.webp);
    display: block;
    width: 42px;
    aspect-ratio: 1;
    background-size: 330px;
    cursor: pointer;
    color: transparent;
}
.icon-backward {
    background-position: 55% 73%;
}
.icon-forward {
    background-position: 75% 73%;
}
.icon-forward-down {
    background-position: 36% 73%;
}

.new-icon { 
    background: url(../assets/home-icons-sprite.webp);
    background-position: 61% 90%;
    width: 38px;
    height: 14px;
    background-size: 360px;
    position: absolute;
    top: -15px;
}


/* other css */
.btn-style2 {
    cursor: pointer;
    width: 100%;
    padding: 8px;
    /* font-weight: 600; */
    background-color: var(--color-white);
    text-wrap: nowrap;
}

.down-btn-icon {
    display: block;
    width: 13px;
    height: 7px;
    background: url(../assets/down-icon-btn.webp) 0% 0% / contain no-repeat;
}

/* google icons */
.five-star-icon {
    width: 100px;
    height: 20px;
    background: url(../assets/google-yelp-sprite.webp);
    background-size: 297%;
    background-position: -11px -80px;
    background-repeat: no-repeat;
}
.google-icon {
    width: 30px;
    height: 30px;
    background: url(../assets/google-yelp-sprite.webp);
    background-position: -7px -227px;
    background-size: 440px;
    background-repeat: no-repeat;
}

/* reviews */
.years-trust-icon {
    background-position: 92% 11%;
    aspect-ratio: 1;
    background-size: 270%;
    background-image: url(../assets/home-icons-sprite.webp);
}
.gray-star-icon {
    display: block;
    background-position: 31% 86.6%;
    width: 100px;
    height: 25px;
    background-size: 308%;
    background-image: url(../assets/home-icons-sprite.webp);
}

/* gray icons sprite */
.gray-sprite {
    background: url(../assets/home-reviews-logos.webp);
    aspect-ratio: 2/1;
    border: 1px solid rgba(96, 96, 96, .6);
    border-radius: 5px;
    background-size: 250%;
}

/* footer sprite icons */
.footer-icon {
    aspect-ratio: 1;
    background: url(../assets/new-footer-icons.webp);
    background-repeat: no-repeat;
    background-size: 900%;
    display: block;
}
.footer-icon2 {
    aspect-ratio: 2/1;
    background: url(../assets/new-footer-icons.webp);
    background-size: 355%;
    background-repeat: no-repeat;
    display: block;
}

.point-icon {
    width: 5px;
    height: 5px;
    background-color: var(--color-white);
    border-radius: 50%;
}

/* direction */
.direction-icon {
    background: url(../assets/directions.webp) no-repeat;
    display: block;
    width: 17px;
    height: 17px;
    background-size: contain;
}


/* mobile-view */

.footer-icon-gray {
    aspect-ratio: 2/1;
    background: url(../assets/partners-associations.webp);
    background-size: 340%;
    background-repeat: no-repeat;
    display: block;
}
