/* topbar */
.topbar {
    padding: 12px 14px;
    background-color: #4D152D;
    color: var(--color-white);
    text-wrap: nowrap;
}
.topbar span {
    margin: 0 5px;
}
.topbar a {
    color: var(--color-white);
}
.rating {
    width: 6em;
    height: 2rem;
}
.social-icons {
    width: 1.5rem;
    height: auto;
}

/* header */
#main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    transition: all ease .3s;
    animation: smoothScroll .3s forwards;
    transition: transform 0.5s ease;
}
.header-shadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
}

.header-hidden {
  transform: translateY(-100%);
}

.header-visible {
  transform: translateY(0);
}

/* icons and logo */
.dimend-logo {
    width: 15rem;
    height: auto;
}

/* bottom header */
.nav-option {
    position: relative;
}
.nav-option::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40%;            /* position underline below */
  width: 100%;
  height: 3px;          /* thickness */
  background-color: #83690c;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.nav-option.active::after {
  transform: scaleX(1);
}


/* mobile-view */
.hamburger {
  width: 25px;
  height: 20px;
  border-top: 3px solid var(--color-black);     /* top line */
  border-bottom: 3px solid var(--color-black);  /* bottom line */
  position: relative;
}

/* Middle line */
.hamburger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--color-black);
  transform: translateY(-50%);  /* center perfectly */
}
