#section1 {
    position: relative;
}

.homepage-gif {
    width: 100%;
    height: 35rem;
    background: url('../assets/homepage-gif.webp') no-repeat;
    background-position: 0 55%;
    background-size: cover;
    transform: scaleX(-1); 
    z-index: -1;
    border-bottom: 1px solid black;
}
.btn-style1 {
    cursor: pointer;
    width: 16.25rem;
    padding: 8px;
    font-weight: bold;
    background-color: var(--color-white);
    color: var(--color-black);
    border: none;
}

@media (max-width: 767px) {
    .btn1 {
        color: var(--color-white);
        background-color: var(--color-primary);
        border: none;
        width: 20rem;
    }
    .btn2 {
        color: var(--color-primary);
        background-color: var(--color-white);
        border: 1px solid var(--color-primary);
        width: 20rem;
    }
}